                                <!--footer-->
{ % block footerContent % }
<footer>
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">e'Depistage</h5>
              <p class="grey-text text-lighten-4">Cette plateforme vous est proposée par le groupe SR 13.</p>
            </div>
            <div class="col l4 offset-l2 s12 orange darken-3">
              <h5 class="white-text">Les statistiques</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Les statistiques sur le cancer du col de l'utérus</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Les statistiques sur le cancer du sein</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Les statistiques sur le paludisme</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Les statistiques sur le VIH/SIDA</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright orange darken-4">
          <div class="container">
          © 2018 Copyright SR13 tous droits réservés
          <a class="grey-text text-lighten-4 right" href="#!">En savoir plus</a>
          </div>
        </div>
      </footer>
{ % endblock % }
