
                                     <!--header-->
{ % block headerContent % }
            <!---navbar-->
           
               <nav class="nav-wraper orange darken-3 ">
                   <a href="#" class="brand-logo orange darken-3 " id="logo">
                       <img src="img/logo.png" height="35px" width="35px" alt="" id="logo_civ">
                       <img src="img/01.jpeg" height="35px" width="35px" alt="" id="logo_civ">
                       e'Depistage
                   </a>
     
            
              <!--side menu-->
               <div class="container">
                 <a href="#" class="sidenav-trigger" data-target="mobile-links">
                   <i class="material-icons">menu</i>
                 </a>
                       <ul class="right hide-on-med-and-down">
                         <li><a href="#Accueil">Accueil</a></li>
                         <li><a href="#Nos_services">Nos services</a></li>
                         <li><a href="#Contacts">Contacts</a></li>
                         <li><a href="#Connexion">Connexion</a></li>
                         <li><a href="#" class="btn-floating orange darken-2"><i class="material-icons">account_circle</i></a></li>
                         <li><a href="#" class="btn-floating orange darken-2"><i class="material-icons">search</i></a></li>
   
   
                         
                       </ul>
               </div>
             </nav>   
     
             <ul class="sidenav" id="mobile-links">
                 <li><a href="#Accueil">Accueil</a></li>
                 <li><a href="#Nos_services">Nos services</a></li>
                 <li><a href="#Contacts">Contacts</a></li>
                 <li><a href="#Connexion">Connexion</a></li>
                 <li><a href="#" class=" center-align"><i class="material-icons ">account_circle</i></a></li>
                 <li><a href="#" ><i class="material-icons">notifications</i></a></li>
             </ul>
             <!--section : slider-->
             <section class="slider">
               <ul class="slides">
                 <li>
                   <img src="img/sante1.png" class="responsive-img" alt="">
                   <div class="caption center align">
                     <h3 class="white-text">Gestion des TDRs</h3>
                     <h5 class=" orange-text lighten-3 ">Plateforme de gestion des tests de dépistage rapides</h5>
                   </div>
                 </li>
   
                 <li>
                     <img src="img/materialize.jpeg">
                     <div class="caption center align">
                       <h3 class = "white-text">Rapide</h3>
                       <h5 class=" orange-text darken-3 ">Gestion rapide du processus de dépistage</h5>
                     </div>
                   </li>
   
                   <li>
                       <img src="img/sante5.jpg">
                       <div class="caption center align">
                         <h3 class = "white-text">Efficace</h3>
                         <h5 class=" orange-text  ">Gestion efficace des procédures</h5>
                       </div>
                     </li>
   
                     <li>
                         <img src="img/sante4.jpg">
                         <div class="caption center align">
                           <h3 class = "teal-text">Sécurisé</h3>
                           <h5 class=" orange-text ">Faites-nous confiance et vous ne serez point deçus</h5>
                         </div>
                       </li>
   
                       <li>
                           <img src="img/sante3.jpg">
                           <div class="caption center align">
                             <h3 class = "teal-text">e'Depistage</h3>
                             <h5 class=" white-text ">Bienvenue à vous</h5>
                           </div>
                       </li>
   
                         <!--end slider-->
   
                         
               </ul>
             </section>
   
             <!--section: search-->
           <section id="search" class="section section-search orange darken-3 white-text center scrollspy">
               <div class="container">
                 <div class="row">
                   <div class="col s12">
                     <h3>Recherche</h3>
                     <div class="input-field">
                       <input type="text" class="white black-text autocomplete" id="autocomplet-input" placeholder="types de dépistages, centres de dépistage..." style="border-radius:25px;">
                         <div class="row">
                           <a href="#!" class="btn teal waves-effect waves-light" style="border-radius:25px;">rechercher</a>
                         </div>
                       
                     </div>
                   </div>
                 </div>
               </div>
             </section>
   
              <div class="container text-align center">
                <h3>e'Dépistage</h3>
                <p>
                  e'Depistage est une plateforme de gestion des tests de dépoistages rapides. <br> Nous vous proposons des services de gestion des différents tests de dépistages possibles dans votre région.<br> Cette application vous permettra de vous informer tant sur les procédures et les prises de rendez-vous pour bénéficier de ces traitements.
                </p>
              </div>
             
 { % endblock % }
